* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto", sans-serif;
}

nav {
    width: 100%;
    height: 60px;
    background: #42a5f5;
    position: fixed;
}

#navb {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 1.2%;
    color: white;
    align-items: center;
}

#cont {
    padding-top: 100px;
    width: 70%;
    margin: auto;
    text-align: center;
}

#cont h1 {
    font-size: 38px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.788);
    letter-spacing: 0.8px;
}

#box {
    margin-top: 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 280px;
    /* border: 1px solid black; */
}

#box>div {
    width: 48%;
    text-align: left;
    height: 100%;
}

#box>div p {
    font-size: 15px;
    margin-bottom: 1.5%;
}

textarea {
    width: 100%;
    height: 100%;
    resize: none;
    padding: 6%;
    font-size: 22px;
    font-weight: 500;
    background-color: #efefef;
    outline: none;
    border: 1px solid #ccc;
}

select::-ms-expand {
    display: none;
}

select {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.719);
    font-weight: 600;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
}